<div class="fullsize fullsize-background"> <!-- Full Size -->
  <div class="container container-inner">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "12.jpg", :class=> "img-responsive aligncenter" %>
        <img alt="" class="img-responsive aligncenter" src="img/demo/animated-responsive.png" >
      </div>
      <div class="col-md-6">
        <h2 class="title-medium title-color">Un experto que te acompaña.</h2>
        <p class="lead">Maecenas sed diam eget risus varius blandit sit amet non magna!</p>
        <div class="row">
          <div class="col-md-6">
            <div class="box-icon-wrapper">
              <h4 class="box-icon-title margin-top20 margin-bottom20">
                <span class="icon-wrapper icon-full-round bg-color-default"><i class="fa fa-medkit color-white"></i></span>Asistencia
              </h4>
              <p>Turpis venenatis at laoreet. Etiam lorem nulla fuviverra minim sed metus egestas sapien conseto actetuer.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-icon-wrapper">
              <h4 class="box-icon-title margin-top20 margin-bottom20">
                <span class="icon-wrapper icon-full-round bg-color-purple"><i class="fa fa-book color-white"></i></span>Certificados
              </h4>
              <p>Sed consectetur, tellus in tristique cursus, nibh magna malesuada tortor, sed adipiscing orci mauris in arcu.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box-icon-wrapper">
              <h4 class="box-icon-title margin-top20 margin-bottom20">
                <span class="icon-wrapper icon-full-round bg-color-orange"><i class="fa fa-magic color-white"></i></span>Algo
              </h4>
              <p>Aenean at tortor pretium, tempor nibh nec, iaculis mauris. Pellentesque tincidunt ipsum eu nibh mollis. </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-icon-wrapper">
              <h4 class="box-icon-title margin-top20 margin-bottom20">
                <span class="icon-wrapper icon-full-round bg-color-success"><i class="fa fa-tablet color-white"></i></span>Algo
              </h4>
              <p> Fusce mattis ante sed quam tristique sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /Full Size -->
<div class="main-wrapper"><!-- Main Container -->
  <div class="container"> <!-- Container -->
    <div class="blank-spacer padding-top20 padding-bottom20"></div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-block sb-border sb-default animation bounceIn">
          <div class="service-block-icon text-center">
            <div class="icon-wrapper icon-border-radius fa-4x color-default">
              <i class="fa fa-paper-plane"></i>
            </div>
          </div>
          <div class="service-block-title text-center">
            <p>Nos lo envias</p>
          </div>
          <div class="service-block-content text-center">
            <p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat. Nulla eget suscipit odio. Curabitur eleifend mi eget tincidunt porta.</p>
            <a href="#" class="link-icon">Saber mas <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-block sb-border sb-purple animation bounceIn">
          <div class="service-block-icon text-center">
            <div class="icon-wrapper icon-border-radius fa-4x color-purple">
              <i class="fa fa-cogs"></i>
            </div>
          </div>
          <div class="service-block-title text-center">
            <p>Lo reparamos</p>
          </div>
          <div class="service-block-content text-center">
            <p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat. Nulla eget suscipit odio. Curabitur eleifend mi eget tincidunt porta.</p>
            <a href="#" class="link-icon purple">Saber mas <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-block sb-border sb-orange animation bounceIn">
          <div class="service-block-icon text-center">
            <div class="icon-wrapper icon-border-radius fa-4x color-orange">
              <i class="fa fa-truck"></i>
            </div>
          </div>
          <div class="service-block-title text-center">
            <p>Lo recibes</p>
          </div>
          <div class="service-block-content text-center">
            <p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat. Nulla eget suscipit odio. Curabitur eleifend mi eget tincidunt porta.</p>
            <a href="#" class="link-icon orange">Saber mas <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="blank-spacer padding-top20 padding-bottom20"></div>
  </div> <!-- /Container -->
<div class="fullsize fullsize-background padding-medium"> <!-- Full Size -->
  <div class="container"> <!-- Container -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading-single text-center title-small title-color"><span>Nuestras Marcas</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-center">Solo Trabajamos con los mejores.</p>
      </div>
    </div>
  </div> <!-- /Container -->
  <div  class="caroursel-work"><!-- Carousel -->
    <div class="list_carousel responsive" >
      <div class="carousel-navigation">
        <a id="carou-prev" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
        <a id="carou-next" class="next" href="#"><i class="fa fa-angle-right"></i></a>
      </div>
      <ul class="latest-work disable-select">
        <% @brands.each do |brand| %>
          <li>
            <div class="work-entry">
              <div class="work-entry-content">
                <div class="image-overlay">
                  <%= image_tag brand.logo.url %>
                </div>
                <div class="work-entry-details">
                  <h3><%= brand.name %></h3>
                  <p>Vivamus in mollis arcu, ac egestas felis. Integer non lacus sodales dolor.</p>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div><!-- /Carousel -->
</div> <!-- /Full Size -->
<div class="container container-inner"><!-- Container -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="heading-single text-center title-small title-color">Clientes Felices</h2>
      <div class="list_carousel responsive" >
        <div class="testimonials-wrapper">
          <ul class="testimonials testimonials-slider disable-select">
            <li>
              <div class="testimonial-content">
                <p>Nullam gravida neque quis augue vestibulum euismod. Suspendisse risus tortor, varius ac malesuada in, mattis vitae mauris. Auctor sit amet feugiat eu &amp; viverra ac felis.</p>
              </div>
              <div class="testimonial-meta">
                <div class="testimonial-author">Carolyne Dones</div>
                <div class="author-job">CEO - <span class="author-link"><a href="#">Artimest</a></span></div>
              </div>
            </li>
            <li>
              <div class="testimonial-content">
                <p>Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio.</p>
              </div>
              <div class="testimonial-meta">
                <div class="testimonial-author">Lance Dorgan</div>
                <div class="author-job">CEO - <span class="author-link"><a href="#">SmartOn</a></span></div>
              </div>
            </li>
            <li>
              <div class="testimonial-content">
                <p>Nullam gravida neque quis augue vestibulum euismod. Suspendisse risus tortor, varius ac malesuada in, mattis vitae mauris. Auctor sit amet feugiat eu &amp; viverra ac felis.</p>
              </div>
              <div class="testimonial-meta">
                <div class="testimonial-author">Jhon Doe</div>
                <div class="author-job">CEO - <span class="author-link"><a href="#">SmartOn</a></span></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="pagination-carousel" id="testimonials_pag"></div>
      </div>
    </div>
  </div>
</div><!-- /Container -->
