<h1>NewZiber BETA TEST</h1>
<p>Se ha agregado la opcion de crear empleados y asignarles un role y ubicacion, asi mismo esta habilitado la opcion de editar a los empleados y elimarlos. Ademas se ha agregado las funciones de
SuperAdmin y Manager, Aun nado a eso se ha creado el perfil de Cliente.</p>
<p><strong>Admin: </strong>admin@admin.com</p>
<p><strong>AdminPassword: </strong>admin666</p><br>
<p><strong>Manager: </strong>manager@admin.com</p>
<p><strong>ManagerPassword:</strong>manager666</p><br>
<p><strong>Technician: </strong>technician@admin.com.com</p>
<p><strong>TechnicianPassword:</strong>technician666</p><br>
<p><strong>Receptionista: </strong>receptionist@admin.com</p>
<p><strong>ReceptionistPassword:</strong>receptionist666</p><br>
<p><strong>Cliente: </strong>rod@rod.com</p>
<p><strong>ClientePassword:</strong> chicharito</p><br>
