<h1>NewZiber Alpha TEST</h1>
<p>
  Nombre: Juan Perez <br>
  Cargo: Administrador
  email: admin@admin.com <br>
  password: admin666
</p>
<p>
  Nombre: Pedro Perez <br>
  Cargo: Manager <br>
  email: manager1@admin.com <br>
  password: manager111br <br>
  Sucursal: Plaza Computacion
</p>
<p>
  Nombre: Pedro Lopez <br>
  Cargo: Manager <br>
  email: manager2@admin.com <br>
  password: manager222 <br>
  Sucursal: Naucalpan
</p>
<p>
  Nombre: Pablo Perez <br>
  Cargo: Tecnico <br>
  email: tecnico1@admin.com <br>
  password: tecnico111 <br>
  Sucursal: Naucalpan
</p>
<p>
  Nombre: Pablo Lopez <br>
  Cargo: Tecnico <br>
  email: tecnico2@admin.com <br>
  password: tecnico222 <br>
  Sucursal: Plaza Computacion
</p>
<p>
  Nombre: Fabi Perez <br>
  Cargo: Recepcionista <br>
  email: recepcionista1@admin.com <br>
  password: recepcionista111 <br>
  Sucursal: Plaza Computacion
</p>
<p>
  Nombre: Fabi Lopez<br>
  Cargo: Recepcionista <br>
  email: recepcionista2@admin.com <br>
  password: recepcionista222 <br>
  Sucursal: Naucalpan
</p>
<p>
  Nombre: Rod<br>
  Cargo: Cliente <br>
  email: rod@rod.com <br>
  password: chicharito <br>
</p>
<p>
  Nombre: Metuz<br>
  Cargo: Cliente <br>
  email: metuz@metuz.com <br>
  password: eluveitie <br>
</p>
