<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="title-color heading-single text-center"><span>Politicas de <%= h @report.brand.name %></span></h2>
  </div>
</div>
<div class="row">
  <p><%= sanitize @report.brand.policy %>></p>
</div>
<div class="form-group">
  <%= f.label :policy, "Acepto Politicas de Garantia" %>
  <%= f.check_box :policy %>
</div>
