<div class="fullsize">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="page-title">Generar Reporte</h1>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><%= link_to "Mis Reportes", reports_path, :class => "disabled has-submenu" %></li>
            <li>Generar Reporte</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wrapper">
  <div class="container container-inner"> <!-- Container -->
    <div class="row">
      <div class="col-md-12">
        <%= render 'form' %>
        <%= link_to 'Regresar', reports_path if can? :index, @report %>
      </div>
    </div>
  </div>
</div>
