<div class="col-md-12">
  <br/>
  <table class = "datatable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Cargo</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |user| %>
        <tr>
          <td><%= link_to user.name, "#" %></td>
          <td><%= user.email %></td>
          <td><%= user.charge %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
