<div class="container">
  <h1>Editar Sucursal</h1>
  <%= render 'form' %>
  <% if can? :show, @location %>
    <p><%= link_to 'Ver', @location %></p>
  <% end %>
  <p><%= link_to 'Regresar', locations_path %></p>
</div>
